
/* -----------------MOBILE(START)----------------- */

body{
    margin: 0px;

    height: 100vh;
    width: 100vw;
}

.wrapper{
    height: 110vh;
    width: 100vw;

    background: url(../img/happy\ childbigmobile.jpg);
    background-size: auto;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60vh 10vh 20vh 10vh 10vh;
    grid-template-areas: 
    "svart hjul svart2"
    "svart door svart2"
    "svart text svart2"
    "footer footer footer"
    "minifooter minifooter minifooter";
}

.hjul{
    grid-area: hjul;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hjul img:nth-child(1){
    height: 200px;
    width: 200px;
}

.door{
    grid-area: door;

    height: auto;
    width: auto;

    display: flex;
    justify-content: center;

    z-index: 50;

    font-family: Helvetica;
}

.door img:nth-child(1){
    height: 50px;
    width: 50px;

    display: flex;
}
.text{
    height: auto;
    width: auto;

    grid-area: text;

    display: flex;
    justify-content: center;

    font-family: Helvetica;

    color: white;
}

a{
    text-decoration: none;
    cursor: pointer;
}
a:link{
    color: white;
}

a:visited{
    color: white;
}

a:active{
    color: crimson;
}

.svart{
    grid-area: svart;

    background-color: black;

    height: 90vh;
    width: 100vw;

    opacity: 0.5;

    z-index: 10;
}

footer{
    background-color: black;
    color: crimson;

    width: auto;
    height: auto;

    grid-area: footer;

    z-index: 100;

    display: flex;
    justify-content: center;

    font-family: Helvetica;

    animation-name: footer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.minifooter{
    width: auto;
    height: auto;

    grid-area: minifooter;

    background: black;
    color: crimson;

    z-index: 100;

    display: flex;
    justify-content: center;

    font-family: Helvetica;
}

/* -----------------DESKTOP(ABOUT)---------------- */

body{
    margin: 0;
    background-color: black;
}

.wrapper_about1{
    box-sizing: border-box;

    height: 100vh;
    padding: 50px 50px 50px 50px;
    
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas:
    "meny content";
}

meny{
    grid-area: meny;
    background-color: black;
}

main{
    grid-area: content;
    background: whitesmoke;
    overflow: hidden;
}

.meny-lista{
    list-style: none;
    padding: 0;
    color: black;
}

.meny-lista li:nth-child(5){
    margin-top: 250px;
    background: crimson;
}

.dis{
    display: none;
}

.infotext1{
    color: crimson;
    height: 100%;
    background-color: whitesmoke;
}

.infotext2{
    color: crimson;
    height: 100%;
    background-color: whitesmoke;
}

.infotext3{
    color: crimson;
    height: 100%;
    background-color: whitesmoke;
}

.infotext4{
    color: crimson;
    height: 100%;
    background-color: whitesmoke;
}

.infotext5{
    color: whitesmoke;
    height: 100%;
    background-color: crimson;
    padding: 200px 50px 0px 50px;
    font-family: Helvetica, sans-serif
}

.hest{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    font-family: Helvetica, sans-serif;
}

.hesttext{
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    font-family: Helvetica, sans-serif;
}

.häst{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    font-family: Helvetica, sans-serif;
}

.hästtext{
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    font-family: Helvetica, sans-serif;
}

.hast{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    font-family: Helvetica, sans-serif;
}

.hasttext{
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    font-family: Helvetica, sans-serif;
}

.hyst{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    font-family: Helvetica, sans-serif;
}

.hysttext{
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    font-family: Helvetica, sans-serif;
}

.meny-item{
    background: whitesmoke;

    margin: 30px;
    height: 46px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s ease-in;
}

.meny-item span{
    display: inline-block;
    white-space: nowrap;
    background: black;
    height: 100%;
    display: flex;
    align-items: center;
    
    font-family: Helvetica;
    color: rgba(255,255,255,0.8);
    
    max-width: 0px;
    overflow: hidden;

    cursor: pointer;

    transition: max-width 0.5s ease-out;
}

.meny-item label{
    padding-left: 40px;

    font-family: Helvetica;
}

.meny-item:hover{
    background: rgba(255,255,255,0.9);
}

.meny-item:hover span{
    max-width: 100px;

    padding: 0 10px 0 10px;
}

@keyframes footer{
    0%{background-color: black;}
    100%{background-color: red;}
}

/* ----------------DESKTOP(START)---------------- */

@media only screen and (min-width: 800px){
    .wrapper{
        background: url(../img/happy\ childbig.jpg) 
    }
    
}

/* ---------------MOBILE(ABOUT)---------------- */ 

@media only screen and (max-width: 799px){
    body{
        margin: 0;
        background-color: white;
    }
    
    .wrapper_about1{
        /* box-sizing: border-box; */
        background-color: black;
    
        height: 125vh;
        
        display: grid;
        grid-template-rows: 50vh auto;
        grid-template-areas:
        "meny"
        "content";
    }
    
    meny{
        grid-area: meny;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .meny-lista li:nth-child(5){
        margin-top: 10px;
        background: crimson;
    }
}