body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.wrapper{
    height: 110vh;
    width: 100vw;
    background: url(../../psd/happy\ child.jpg);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: 
    "svart hjul svart2"
    "footer footer footer";
}

.hjul{
    grid-area: hjul;
}

.hjul img:nth-child(1){
    height: 200px;
    width: 200px;
    position: fixed;
}

.svart{
    grid-area: svart;
    background-color: black;
    height: 90vh;
    width: 100vw;
    opacity: 0.5;
    z-index: 10;
}

footer{
    background-color: black;
    width: 100vw;
    height: 20vh;
    grid-area: footer;
    z-index: 100;
    color: red;
    display: flex;
    justify-content: center;
}
