body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.wrapper{
    height: 110vh;
    width: 100vw;
    background: url(../../psd/happy\ childbig.jpg);
    background-size: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60vh 30vh 10vh 10vh;
    grid-template-areas: 
    "svart hjul svart2"
    "svart text svart2"
    "footer footer footer"
    "minifooter minifooter minifooter";
}

.hjul{
    grid-area: hjul;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hjul img:nth-child(1){
    height: 200px;
    width: 200px;
}

.text{
    grid-area: text;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    color: blue;
    z-index: 50;
}

.text img:nth-child(1){
    height: 50px;
    width: 50px;
    display: flex;
}

a{
    text-decoration: none;
}
a:link{
    color: white;
}

a:visited{
    color: white;
}

a:active{
    color: greenyellow;
}

.svart{
    grid-area: svart;
    background-color: black;
    height: 90vh;
    width: 100vw;
    opacity: 0.5;
    z-index: 10;
}

footer{
    background-color: black;
    width: 100vw;
    height: 20vh;
    grid-area: footer;
    z-index: 100;
    color: red;
    display: flex;
    justify-content: center;
}

.minifooter{
    width: auto;
    height: auto;
    grid-area: minifooter;
    z-index: 100;
    color: red;
    display: flex;
    justify-content: center;
}


