body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.wrapper{
    height: 110vh;
    width: 100vw;
    background: url(../img/happy\ childbigmobile.jpg);
    background-size: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60vh 10vh 20vh 10vh 10vh;
    grid-template-areas: 
    "svart hjul svart2"
    "svart door svart2"
    "svart text svart2"
    "footer footer footer"
    "minifooter minifooter minifooter";
}

.hjul{
    grid-area: hjul;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hjul img:nth-child(1){
    height: 200px;
    width: 200px;
}

.door{
    grid-area: door;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    z-index: 50;
    font-family: Helvetica;
}

.door img:nth-child(1){
    height: 50px;
    width: 50px;
    display: flex;
}
.text{
    height: auto;
    width: auto;
    grid-area: text;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    color: white;
}

a{
    text-decoration: none;
}
a:link{
    color: white;
}

a:visited{
    color: white;
}

a:active{
    color: greenyellow;
}

.svart{
    grid-area: svart;
    background-color: black;
    height: 90vh;
    width: 100vw;
    opacity: 0.5;
    z-index: 10;
}

footer{
    background-color: black;
    width: 100vw;
    height: 20vh;
    grid-area: footer;
    z-index: 100;
    color: red;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    animation-name: footer;
    animation-duration: 4s;
}

.minifooter{
    width: auto;
    height: auto;
    grid-area: minifooter;
    z-index: 100;
    color: red;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    margin-left: 5px;
    margin-right: 5px;
}

/* för desktop */
@media only screen and (min-width: 800px){
    .wrapper{
        background: url(../img/happy\ childbig.jpg) 
    }
    
}

@keyframes footer{
    0%{background-color: black;}
    100%{background-color: red;}
}
